// Specific CSS for your home-page
body{
 background-color: black;
}
body p{
  font-family:"Raleway", "Helvetica", "sans-serif";
}
.route a{
   text-decoration: none !important;
   color: white;
}
.route a:hover{
   color: white;
}
.top{
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.top h3,h4,h5{
  font-family: 'Bungee Hairline', cursive;
}
.top img{
  height: 150px;
}
.top i{
  font-size: 50px;
  color: white;
}

.redes i{
  font-size: 50px;
  color: black;
}

.mail{
  font-size: 15px;
}

.me{
  background-color:white;
  color: black
}

.me h3,h4{
  font-family: 'Bungee Hairline', cursive;
}

.me img{
  height:150px;
  border: 2px solid black;
}

.cool-letter{
    font-family: 'Bungee Hairline', cursive;
}

